*.bak
tags
.config/emacs/projectile-bookmarks.eld
.config/emacs/tramp
.config/emacs/elpa
.config/emacs/.local
.config/emacs/.lsp-session-v1
.config/emacs/auto-save-list
.config/emacs/auto-save
.config/emacs/backup
.config/emacs/eln-cache
.config/emacs/eshell
.config/emacs/history
.config/emacs/projects
.config/emacs/saveplace
.config/emacs/straight
.config/emacs/transient
.config/emacs/url
