# Base16 Default Light
# Author: Chris Kempson (http://chriskempson.com)

_gen_fzf_default_opts() {

local fg_main='#ffffff'
local bg_main='#000000'
local bg_alt='#191a1b'
local red='#ff8059'
local green='#44bc44'
local magenta='#feacd0'
local cyan='#00d3d0'
local blue='#79a8ff'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$bg_alt,bg:$bg_main,spinner:$red,hl:$blue"\
" --color=fg:$fg_main,header:$green,info:$cyan,pointer:$magenta"\
" --color=marker:$green,fg+:$fg_main,prompt:$cyan,hl+:$red"\
" --layout=reverse --exact"


}

_gen_fzf_default_opts
